<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SV ONG</title>
</head>

<body>

    <br>
    <hr>
    <br>

    <footer class="">

    <p>© 2026 PDV SV MAXGUI-2.</p>

    <p>Dúvidas? Entre em contato pelo email: <a href="mailto:svelectronics3107@gmail.com?subject=Ola,%20tenho%20duvidas%20sobre%20o%20PDV%20SV%20MAXGUI-2%20%28privacidade%29">svelectronics3107@gmail.com</a></p>

    <p>Nos siga em todas as redes sociais:<br>
        <a href=""><img src="" width="20"> YouTube</a><br>
        <a href=""><img src="" width="20"> Instagram</a><br>
        <a href=""><img src="" width="20"> TikTok</a><br>
        <a href=""><img src="" width="20"> Kwai</a><br>
        <a href=""><img src="" width="20"> FaceBook</a></p>

    <p>outros links<br>
    <a href="">Sobre o projeto</a>    <br>
    <a href="">Política de Privacidade</a><br>
    <a href="">Termos de Uso</a><br>
    <a href="">Política de Cookies</a><br>
    <a href="">Grupo Whatsapp</a>
</p>

    <p>versão 0.2.0 Alpha</p>
    </footer>

</body>

</html>