<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SV ONG</title>
</head>
<body>

    <br>
    <hr>
    <br>

    <footer class="">

    <p>© 2026 SV ONG.</p>

    <p>Dúvidas? Entre em contato pelo email: <a href="mailto:svelectronics3107@gmail.com?subject=Ola,%20tenho%20duvidas%20sobre%20o%20SV%20ONG%20%28privacidade%29">svelectronics3107@gmail.com</a></p>

    <p>Nos siga em todas as redes sociais:<br>
        <a href=""><img src="static/assets/imagens/icons/youtube" width="20"> YouTube</a><br>
        <a href=""><img src="static/assets/imagens/icons/instagram" width="20"> Instagram</a><br>
        <a href=""><img src="static/assets/imagens/icons/tiktok" width="20"> TikTok</a><br>
        <a href=""><img src="static/assets/imagens/icons/kwai" width="20"> Kwai</a><br>
        <a href=""><img src="static/assets/imagens/icons/facebook" width="20"> FaceBook</a></p>

    <p>outros links<br>
    <a href="/sobre">Sobre o projeto</a>    <br>
    <a href="">Política de Privacidade</a><br>
    <a href="/termos">Termos de Uso</a><br>
    <a href="">Política de Cookies</a><br>
    <a href="https://chat.whatsapp.com/G8D2ZfjFHSm3wL0ah5Dpt0?s=cl&p=a&mlu=0">Grupo Whatsapp</a>
</p>

    <p>versão 0.2.4 Alpha</p>
    </footer>

</body>
</html>